<script src="../js/welcome.js"></script>

<div class="container-fluid">
    <div class="col col-sm-5">
      <img src="../assets/images/icono neutro.png" id="neutral-image">
      <img src="../assets/images/icono mujer.png" class="hidden" id="woman-image">
      <img src="../assets/images/icono hombre.png" class="hidden" id="man-image">
    </div>
    <div class="col col-sm-7">
      <div class="message">
        <h1>
            Haz <span>check-in</span> con tu carnet
        </h1>
      </div>
    </div>
</div>