// COlores comundiad feliz

$cf_verde: #76c42e;
$cf_verde_oscuro: #66b11b;
$cf_verde_footer: #00ca67;
$cf_azul: #2F7ED8;
$cf_azul_oscuro: #16467B;
$cf_celeste: #45CBE8;
$cf_celeste_oscuro: #36B9D5;
$cf_verde_letra: #00796B;
$cf_verde_fondo: #009688;
$cf_gris_oscuro: #3d4145;
$cf_gris_letra: #666666;
$cf_gris_fondo: #ccc;
$cf_blanco_fondo: #f2f2f2;
$cf_azul_table_header: #45CBE8;
$cf_blanco_tabla: #f4f4f4;
$cf_blanco: #ffffff;

$cf_btn_green: #5cb85c;
$cf_btn_green_border: #4CAE4C;
$cf_btn_green_hover: #449d44;
$cf_btn_green_hover_border: #398439;
$cf_btn_orange: rgb(245, 152, 53);// #fd8a10;
$cf_btn_orange_hover: #d87002;
$light_blue: #3CD2F0;
$dark_green: #17631d;
// Colores Win8
$orange: #f4b300;

$lightorange: #e1b700;
$lightorange-border: #d39d09;

$darkorange: #ff991d;
$darkorange-border: #e66b1b;

$burdeaux: #ae113e;

$red: #b11d01;

$pink: #ff76bc;
$pink-border: #e165bb;

$darkpink: #c1004f;
$darkpink-border: #4f023a;

$purple: #7200ad;
$previred: #521C78;
$purple-border: #2e0251;

$cyan-border: #00a4a5;

//Colores freshwidget
$widget_blue: #006063;